body {
  background-color: #222831;
}

/* scrollbar */
/* Estilos solo para este contenedor */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra */
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #76ABAE;
}

.part1 {
  height: 100vh;
}

.part1 small {
  font-family: Roboto Condensed;
  letter-spacing: 1.2px;
  color: #76ABAE;
}

.part1 p {
  color: #76ABAE;
}

/*----------------------- botones redes sociales ------------------------*/

.icons {
  position: absolute;
  top: 3%;
  left: 5%;
}

@media (min-width: 768px) {
  .icons {
    position: absolute;
    top: 3%;
    left: 2%;
  }
}

/* boton github */
.enlace-github {
  text-decoration: none;
}

.btn-github {
  border: none;
  border-radius: 100px;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #fff;
}

.btn-github:hover {
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(255, 255, 255, 0.603);
  color: white;
  transform: translate(0, -0.25rem);
  background-color: rgba(0, 0, 0, 0.5);
}

/* boton linkdn */
.enlace-linkdn {
  text-decoration: none;
}

.btn-linkdn {
  border: none;
  border-radius: 100px;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.04),
    inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  color: #fff;
}

.btn-linkdn:hover {
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 1px rgba(255, 255, 255, 0.603);
  color: white;
  transform: translate(0, -0.25rem);
  background-color: rgba(0, 0, 0, 0.5);
}



/*----------------------- boton flecha ------------------------*/

.bi-arrow-down-circle-fill {
  color: #76ABAE;
  position: absolute;
  right: 3%;
  bottom: 2.5%;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .bi-arrow-down-circle-fill {
    color: #76ABAE;
    position: absolute;
    right: 1.5%;
    bottom: 2.5%;
    transition: all 0.3s ease-in-out;
  }
}

.bi-arrow-down-circle-fill:hover {
  color: #EEEEEE;
  cursor: pointer;
  transform: scale(1.1);
}

.part1 span {
  color: #EEEEEE;
}

/*----------------------- main ------------------------*/

main {
  height: auto;
}

.logo {
  clip-path: circle(50% at 50% 50%);
}

.country,
.age {
  font-family: Roboto Condensed;
  color: #EEEEEE;
  letter-spacing: 1.2px;
}

.country span,
.age span {
  color: #76ABAE;
}

/*----------------------- lenguajes ------------------------*/

.languages h2 {
  font-family: Roboto Condensed;
  color: #76ABAE;
  letter-spacing: 1.2px;
}

.cmd {
  width: 400px;
  height: 400px;
  background-color: black;
  position: relative;
}

.parte-arriba {
  background-color: #333333;
  width: 100%;
  height: 47px;
  border: 1px solid #333333;
  top: 0;
  position: absolute;
}

.content {
  font-size: 0.8rem;
  color: white;
  font-family: monospace;
  width: 100%;
  height: 351px;
  overflow-y: auto;
}

/* Estilos solo para este contenedor */
.content::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra */
}

.content::-webkit-scrollbar-track {
  background: #555;
}

.content::-webkit-scrollbar-thumb {
  background: #76ABAE;
}

.nombre-text {
  font-size: 0.7rem;
  background-color: black;
  color: white;
  font-family: monospace;
  border-radius: 12px 12px 0 0;
}

.guion:hover,
.maximizar:hover {
  background-color: #3F3F3F;
}

.cerrar:hover {
  background-color: #E81123;
}

.lenguaje-conocido {
  color: #76ABAE;
  font-size: 0.9rem;
}

.lenguajes-title {
  color: yellow;
}

@media (min-width: 768px) {

  .languages h2 {
    font-family: Roboto Condensed;
    color: #76ABAE;
    letter-spacing: 1.2px;
  }

  .cmd {
    width: 70%;
    height: 399px;
    background-color: black;
    position: relative;
  }

  .parte-arriba {
    background-color: #333333;
    width: 100%;
    height: 47px;
    border: 1px solid #333333;
    top: 0;
    position: absolute;
  }

  .content {
    font-size: 0.9rem;
    color: white;
    font-family: monospace;
  }

  .nombre-text {
    font-size: 0.7rem;
    background-color: black;
    color: white;
    font-family: monospace;
    border-radius: 12px 12px 0 0;
  }

  .guion:hover,
  .maximizar:hover {
    background-color: #3F3F3F;
  }

  .cerrar:hover {
    background-color: #E81123;
  }

  .lenguaje-conocido {
    color: #76ABAE;
    font-size: 1.1rem;
  }
}

/* technologies */

.technologies h2 {
  font-family: Roboto Condensed;
  color: #76ABAE;
  letter-spacing: 1.2px;
}

.lista1, .lista2 {
  color: #76ABAE;
  font-family: Roboto Condensed;
  list-style: circle;
  border-left:  1px solid #EEEEEE;
}